# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux / macOS
*.swp
*.swo

# Gradle
.gradle/
build/

# Android Studio / IntelliJ
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml

# Android
*.keystore
*.jks
local.properties

# Logs
*.log

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
.DS_Store?
Thumbs.db
git_publish.sh
